.event-info-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  margin-right: 3.2rem;
  border-radius: 11px;
}
.user-title {
  font-weight: 700;
  font-size: 3.2rem;
  margin-top: 1.6rem;
  margin-left: 3.2rem;
  margin-bottom: 1.6rem;
}
.event-info-details {
  display: flex;
  margin-left: 3.2rem;
}
.event-info-img {
  height: 15rem;
  width: 21.5625rem;
}
.event-info-date {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.description-title {
  font-size: 2rem;
  margin-left: 1.6rem;
  color: #6f46a6;
  font-weight: bold;
}
.event-info-time {
  font-size: 2rem;
  font-weight: 600;
}
.description {
  font-size: 1.8rem;
  margin-top: 0.4rem;
  margin-bottom: 1.6rem;
  margin-left: 1.6rem;
}
.controls {
  margin-left: 3.2rem;
  margin: 3.2rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instructions {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}
.back {
  width: 2.4rem;
  height: 2.4rem;
}
.instructions-text {
  color: #6f46a6;
  font-size: 1.6rem;
  font-weight: 600;
}
@media (max-width: 38.4375em) {
  .event-info-container {
    margin-left: 3.2rem;
  }
}
@media (max-width: 36.25em) {
  .event-info-details {
    flex-direction: column;
  }
  .description {
    margin-right: 3.2rem;
  }
}
@media (max-width: 23.75em) {
  .event-info-container {
    margin-left: 3.2rem;
  }
  .user-title {
    font-size: 3rem;
    margin-bottom: 3.2rem;
  }
  .event-info-details {
    flex-direction: column;
    margin-left: 0rem;
  }
  .event-info-img {
    align-self: center;
    margin-bottom: 1.6rem;
  }
  .instructions-text {
    font-size: 1.4rem;
  }
  .back {
    width: 1.6rem;
    height: 1.6rem;
  }
}
