.event {
  display: flex;
  gap: 1.6rem;
  margin-left: 3.2rem;
  background-color: #f7f7f7;
  border-radius: 9px;
  padding-right: 1.6rem;
}
.event-img {
  height: 10rem;
  width: 14.375rem;
}
.event-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.event-name {
  margin-top: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #6f46a6;
}
.event-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.seats-available {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #7ea800;
  font-weight: 600;
  gap: 0.4rem;
}
.seats-sold {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 2rem;
  text-align: center;
  color: #800202;
}
.event-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.event-date {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 2rem;
  font-weight: 600;
  color: #555;
}
.eventpage-event {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  border-radius: 11px;
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
.eventpage-img {
  height: 15rem;
  width: 21.5625rem;
}
.eventpage-name {
  margin-top: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #6f46a6;
  text-align: center;
  margin-bottom: 0.4rem;
}

.eventpage-details {
  width: 100%;
}
.eventpage-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
.eventpage-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.eventpage-date {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 2rem;
  font-weight: 600;
  color: #555;
  margin-bottom: 0.8rem;
}
.eventpage-description-title {
  font-size: 2rem;
  font-weight: 600;
  color: #666;
  margin-left: 1.6rem;
}
.eventpage-description {
  width: 80%;
  font-size: 1.6rem;
  margin-top: 0.8rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
  font-weight: 500;
}
@media (max-width: 91.5625em) and (min-width: 87.5em) {
  .event-date {
    font-size: 1.6rem;
  }
  .seats-available {
    font-size: 1.6rem;
  }
  .seats-sold {
    font-size: 1.6rem;
  }
  .event-icon {
    width: 1.8rem;
    height: 1.8rem;
  }
}
@media (max-width: 83.125em) and (min-width: 78.75em) {
  .event-date {
    font-size: 1.8rem;
  }
  .seats-available {
    font-size: 1.8rem;
  }
  .seats-sold {
    font-size: 1.8rem;
  }
  .event-icon {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 75em) {
  .event-date {
    font-size: 1.6rem;
  }
  .seats-available {
    font-size: 1.6rem;
  }
  .seats-sold {
    font-size: 1.6rem;
  }
  .event-icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  .event-name {
    font-size: 2rem;
  }
  .event-img {
    height: 10rem;
    width: 14.375rem;
  }
}

@media (max-width: 64em) {
  .event-date {
    font-size: 1.4rem;
  }
  .seats-available {
    font-size: 1.4rem;
  }
  .seats-sold {
    font-size: 1.4rem;
  }
  .event-icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  .event-name {
    font-size: 1.8rem;
  }
  .event-img {
    height: 9rem;
    width: 12.9375rem;
  }
}
