.event-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-weight: 700;
  padding-left: 0.8rem;
  color: #6f46a6;
  background-color: #f7f7f7;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  border-radius: 11px;
}
.event-item-date {
  align-items: center;
  display: flex;
  gap: 0.4rem;
}
.event-item-icon {
  height: 2.4rem;
  width: 2.4rem;
}

@media (max-width: 75em) {
  .event-item-icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .event-item {
    font-size: 1.8rem;
  }
}
@media (max-width: 64em) {
  .event-item {
    font-size: 1.6rem;
  }
  .event-item-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}
@media (max-width: 38.4375em) {
  .event-item {
    font-size: 1.4rem;
  }
}
@media (max-width: 23.75em) {
  .event-item {
    font-size: 1.2em;
  }
  .event-item-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
}
