.event-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-right: 3.2rem;
  border-radius: 11px;
}
.form-title {
  font-weight: 700;
  font-size: 3.2rem;
  margin-top: 1.6rem;
  margin-left: 3.2rem;
  margin-bottom: 1.6rem;
}
.form-content {
  display: flex;
  justify-content: space-between;
  margin-right: 1.6rem;
}
.input-field {
  width: 25rem;
  margin-left: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.instruction {
  font-size: 1.6rem;
  font-weight: 700;
  color: #4f5259;
}
.input-field input {
  max-width: 70%;
  appearance: none;
  border: none;
  border: 2px solid #aaa;
  height: 2.4rem;
  border-radius: 9px;
  height: 3rem;
  margin-bottom: 1.6rem;
  background-color: #fafafa;
}
.input-field input::placeholder {
  /* Temporary */
  color: #fafafa;
  text-align: center;
  font-weight: 700;
}
.input-field input:focus {
  outline: none;
  border: none;
  border: 2px solid var(--rebecca-purple);
}
.input-field-textarea {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.buttons-form {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-top: 2.4rem;
}
.button-form {
  margin-top: 0rem;
  text-decoration: none;
  border: none;
  background-color: #fff;
}
.text-area {
  width: 30rem;
  height: 10.36rem;
  resize: none;
  border-radius: 11px;
  background-color: #fafafa;
}

@media (max-width: 75em) {
  .form-title {
    font-size: 3rem;
  }
  .text-area {
    width: 25rem;
  }
  .input-field input {
    max-width: 80%;
  }
  .input-field {
    width: 20rem;
  }
}
@media (max-width: 64em) {
  .text-area {
    width: 25rem;
  }
  .input-field {
    width: 17rem;
  }
}
@media (max-width: 38.4375em) {
  .form-content {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    margin-bottom: 1.6rem;
  }
  .text-area {
    width: 30rem;
  }
  .event-form {
    margin-left: 3.2rem;
    margin-bottom: 3.2rem;
  }
  .input-field {
    width: 30rem;
  }
}
@media (max-width: 23.75em) {
  .form-content {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    margin-bottom: 1.6rem;
  }
  .event-form {
    margin-left: 3.2rem;
    margin-bottom: 3.2rem;
  }
  .input-field {
    width: 30rem;
  }
  .text-area {
    width: 30rem;
  }
  .form-final-part {
    margin-left: 1.6rem;
  }
}
