.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--royal-purple);
}
.hamburger-wrapper {
  display: none;
}
@media (max-width: 49.375em) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    justify-content: space-evenly;
    gap: 6.4rem;
    z-index: 103;
  }
  .hamburger-wrapper {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 3rem;
    right: 3rem;
    background-color: var(--royal-purple);
    padding: 0.75rem;
    border-radius: 50%;
    z-index: 99;
  }
  .notOpen {
    right: -100%;
  }
}
