.option-list {
  position: absolute;
  top: 20;
  margin-top: 1.6rem;
  background-color: #fff;
  border-radius: 9px;
}

@media (max-width: 49.375em) {
  .option-list {
    top: -600%;
    left: 0%;
    margin-top: 6.4rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
  }
}
